.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* min-height: 100vh; */
  padding: 10px;
  font-family: 'Arial', sans-serif;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 20px 18px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #0c81ff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 16px;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #ffffff;
}

input, textarea {
  margin-top: 3px;
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.1);
  color: #fff;
  font-size: 12px;
  outline: none;
}

input::placeholder, textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea {
  resize: none;
  min-height: 50px;
  grid-column: span 2;
}

.submitBtn {
  margin-top: 10px;
  padding: 6px;
  border-radius: 8px;
  border: none;
  background-color: #0c81ff;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 70%;
}

.submitBtn:hover {
  background-color: #0764d6;
}

.genderGroup {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 12px;
}

.genderRow {
  display: flex;
  align-items: center;
  gap: 40px; /* расстояние между Чоловік и Жінка */
  margin-top: 5px;
}

.genderOption {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #fff;
}

.genderOption input[type="checkbox"] {
  accent-color: #0c81ff;
  transform: scale(1.1);
  cursor: pointer;
}

